{% extends 'base/base.html' %} {% block content %}
<div class="max-width">
  <div class="logo">
    <div class="logo-inner">
      <a href="{% url 'home' %}">
        <div class="label-logo on-hover--40 text-color-white"></div>
      </a>
    </div>
  </div>
  <div class="top-bottom-margin animate">
    <!-- Work -->
    <a href="#">
      <div class="on-hover-40 hide-text-block work-block">
        <h2 class="text-color-white">Project 1</h2>
        <p class="size-small text-color-red">Description 1</p>
      </div>
    </a>
    <!-- Work -->
    <a href="#">
      <div class="on-hover-40 hide-text-block work-block">
        <h2 class="text-color-white">Project 1</h2>
        <p class="size-small text-color-red">Description 1</p>
      </div>
    </a>
    <!-- Work -->
    <a href="#">
      <div class="on-hover-40 hide-text-block work-block">
        <h2 class="text-color-white">Project 1</h2>
        <p class="size-small text-color-red">Description 1</p>
      </div>
    </a>
    <!-- Work -->
    <a href="#">
      <div class="on-hover-40 hide-text-block work-block">
        <h2 class="text-color-white">Project 1</h2>
        <p class="size-small text-color-red">Description 1</p>
      </div>
    </a>
    <!-- Work -->
    <a href="#">
      <div class="on-hover-40 hide-text-block work-block">
        <h2 class="text-color-white">Project 1</h2>
        <p class="size-small text-color-red">Description 1</p>
      </div>
    </a>
  </div>
</div>
{% endblock content %}
